body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    min-height: 100vh;
    background-image: url("img/Grafiken - Sharkie/3. Background/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas {
    background-color: black;
}

h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}