body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-image: url("img/Grafiken/3. Background/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas {
  background-color: black;
  width: 100%;
  max-width: 900px;
  aspect-ratio: 3 / 2;
  height: auto;
  max-height: 90vh;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    padding: 0 18px;
    border: 3px solid #c9d5e9;
    border-radius: 14px;
    background: linear-gradient(90deg, #004cc7, #7393c1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 20px;
}

#startOverlay {
    position: relative;
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
}

#overlayImg {
    width: 100%;
    display: block;
}

#startBtn {
    position: absolute;
    left: 36%;
    font-weight: 700;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 12%;
    text-align: center;
    align-content: center;
    width: 28%;
    height: 14%;
    cursor: pointer;
    background-color: aqua;
    border-radius: 30px;
    color: #7a15e6;
}

.retryBtn {
  cursor: pointer;
}

.retryBtn:hover {
  background-color: #7a15e6;
}

#startBtn:hover {
   background-color: #7a15e67c;
   color: white;
}

.NoteOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.box {
  background: rgba(0, 0, 0, 0.55);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 14px;
  padding: 22px 26px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.box p {
  margin: 0;
  color: white;
  font-size: 22px;
  line-height: 1.25;
  font-family: Arial, sans-serif;
}

#privacyBtn {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background: #1f2d3d;
  color: white;
  margin-top: 13px;
}

#privacyBtn:hover {
  background-color: #01ffffa0;
}

.privacyModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.privacyBox {
  background: white;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
}

.privacyBox h2 {
  margin-top: 0;
  color: #7a15e6;
}

#closePrivacy {
  margin-top: 15px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
}

#closePrivacy:hover {
  background-color: rgba(50, 47, 47, 0.63);
  color: white;
}

.gameContainer {
  position: relative;
  display: inline-block;
}

.mute-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background: white;
  border: 2px solid #007BFF;
  border-radius: 6px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 0;
}

.mute-overlay img {
  width: 36px;
  height: 36px;
}
.retry-button {
  position: absolute;
  cursor: pointer;
  background-color: aqua;
  color: #7a15e6;
  border: none;
  border-radius: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  display: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18%;
  width: 40%;
  max-width: 220px;
}

.retry-button:hover {
  background-color: #7506ecb5;
  color: white;
}

.options-button {
  position: absolute;
  cursor: pointer;
  background-color: #1f2d3d;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  display: none;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  width: 40%;
  max-width: 220px;
}

.options-button:hover {
  background-color: #01ffffa0;
  color: black;
}

@media (max-width: 699px) {
  #overlayImg {
    display: none;
  }

  #startBtn {
    display: none;
  }
}

@media (max-width: 599px) {
  canvas {
    pointer-events: none;
  }

  #overlayImg {
    display: none;
  }

  #canvas {
    display: none !important;
  }

  #startOverlay {
    display: none !important;
  }

  header {
    display: none !important;
  }
  .NoteOverlay {
    display: flex !important;
  }
}

@media (orientation: portrait) {
  #canvas,
  #startOverlay,
  .privacyWrapper,
  header {
    display: none !important;
  }

  .NoteOverlay {
    display: flex !important;
  }

  .retry-button,
  .options-button {
    display: none !important;
  }
}

.mobileControls { display: none; }
.mobileControls button { touch-action: none; }

@media (orientation: portrait) {
  .mobileControls { display: flex !important; }
}


@media (max-width: 1366px) and (orientation: landscape) {
  .topBar { display: none; }

  body.gameRunning .mobileControls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex !important;
    justify-content: space-around;
    pointer-events: auto;
    opacity: 1;
  }

  body.gameRunning .mobileControls button {
    width: 56px;
    height: 56px;
    font-size: 26px;
    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,0.6);
    color: white;
  }
  #btnSlap {
    font-size: 15px;
  }
}

/* @media (max-width: 700px) and (orientation: landscape) {
  .retry-button,
  .options-button {
    width: 25%;
    max-width: 160px;
    font-size: 12px;
    padding: 6px 10px;
  }
} */


@media (max-width: 950px) and (orientation: landscape) {
  .retry-button,
  .options-button {
    width: 21%;
    max-width: 160px;
    font-size: 12px;
    padding: 6px 10px;
  }
  #privacyBtn {
    margin-top: 3px;
    padding: 4px 13px;
    font-size: 12px;
  }
}
