body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    min-height: 100vh;
    background-image: url("img/Grafiken - Sharkie/3. Background/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas {
    background-color: black;
}

h1 {
    font-size: 80px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    padding: 12px 18px;
    border: 3px solid #c9d5e9;
    border-radius: 14px;
    background: linear-gradient(90deg, #004cc7, #7393c1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

}